@charset "UTF-8";
$--color-primary: #1492FF; // 主题蓝色
$--color-green: #07c160; // 绿色
$--color-pink: #ff976a; // 粉颜
$--color-lightpink: #fbeeeb; // 淡粉色
$--color-red: #FE3116; // 红色
$--color-orange: #ED6A0C;
$--color-gray: #969799; // 信息灰
$--color-deepgray: #404956; // 深灰
$--color-menugray: #808DA1; // 菜单文字颜色
$--color-globalbk:#f4faff; // 全局页面背景色