* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-appearance: none;
  outline: none;
  word-break: break-all;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html{height: 100%;}